

body{
	background-color: #ddd;
}

.container{
	width: 600px;
	height: 600px;
	outline: 1px solid #000;
	background-color: #eee;
	margin: auto;
}

img.MyImage{
	width: 118px;
	height: 118px;
	margin: 0 auto;
	outline: 1px solid #ddd;
}

#imgMain{
	text-align: center;
}

#student{
	padding-left: 0px;
	color: grey;
}

.content{
	width: 300px;
	margin: auto;
	font-size: 10px;
	padding-left: 20px;
}

.fontSizeMain{
	font-size: 11pt;
}

.fontSize{
	font-size: 12px;
}

.pText{
	padding-left: 20px;
}